.nav-bar li {
    display: inline ;
    color: #4D9494;
}

.nav-bar a {
    padding: 14px 55px;
    font-weight: bold;
}


body {
    background-image: url('d2w-screenshot-1.png')
}
.jumbotron {
<!--    background-image: url('d2w-screenshot-1.png') -->
}

.jumbotron h1 {
    margin-left: 50px;
    color: #4D9494;
}

.jumbotron p {
    margin-left: 50px;
    color: #4D9494;
}


p {
    font-family: Arial;
}

.main-page {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%
}

.main-page h3 {
    color: #000066;
}

.main-page a {
    color: #000066;
}

.main-page p {
    margin-left: 5%;
    margin-right: 5%;
}

.main-page h3 {
    margin-left: 5%;
    margin-right: 5%;
}
