.nav-bar li {
    display: inline ;
    color: #4D9494;
}

.nav-bar a {
    padding: 14px 55px;
    font-weight: bold;
}

.blog {
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-image: url('d2w-screenshot-3.png');
}

.blog {
    color: #FFF;
}

p {
    font-family: Arial;
}

.blog {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%
}

a {
    color: #0000FF;
}
