.nav-bar li {
    display: inline ;
    color: #4D9494;
}

.nav-bar a {
    padding: 14px 55px;
    font-weight: bold;
}

.main-page {
    background-color: #E4EAE4;
}

body {
    background-image: url('d2w-screenshot-1.png')
}
.jumbotron {

}

.jumbotron h1 {
    margin-left: 50px;
    color: #4D9494;
}

.jumbotron p {
    margin-left: 50px;
    color: #4D9494;
}

.tourus {
    opacity: 1;
}

