body {
    background-image: url('d2w-screenshot-2.png')
}
.nav-bar li {
    display: inline ;
    color: #4D9494;
}

.nav-bar a {
    padding: 14px 55px;
    font-weight: bold;
}
p {
    color: #FFFFFF;
    font-family: Arial;
}

.torus {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%
}

.torus a {
    color: #00F
}

