.nav-bar li {
    display: inline ;
    color: #4D9494;
}

.nav-bar a {
    padding: 14px 55px;
    font-weight: bold;
}
}

body {

}


.tourus {
    margin-left: 200px;
    margin-right: 200px;
}

.blog {
    margin-left: 200px;
    margin-right: 200px;
}

