.nav-bar li {
    display: inline ;
    color: #4D9494;
}

.nav-bar a {
    padding: 14px 55px;
    font-weight: bold;
}

.nether-rail {
    margin-left: 200px;
    margin-right: 200px;
}

p {
    font-family: Arial;
}

.nether-rail {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%
}

.nether-rail em {
    color: #FFFFFF;
}

body {
    background-image: url('d2w-screenshot-4.png')
}
